.container{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
}

.container>div{
    box-shadow: 0px 0px 5px 5px red;
    padding: 10px 20px;
}

.form-container{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 20px;
    margin-bottom: 40px;
    background-color: red;
    padding: 20px;
    box-shadow: 0px 0px 5px 5px aqua;
}
